<div  id="index-principal">
    <div id="contain">
        <h1 id="titleIndex">Cinema <br> Ironhack</h1>
        <a href="/movies"><button id="btnCheck">Check the movies!</button></a>
    </div>
</div>
