<div>
      <h1>Cinema Ironhack</h1>
      <h3>Click one the movie to check the showtime!</h3>
</div>
<div id="allMovies">
    <div id="eachMovie">    
    {{#each this.allMovies}}
    <img src="{{this.image}}" alt="">
    <h4>{{this.title}}</h4>
    <a href="/movies/{{this._id}}">See More</a>
    {{/each}}
    </div>
</div>